body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1273px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1401 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  position:absolute;
  left:10px;
  top:29px;
  width:375px;
  height:45px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u1405 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:21px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1407 {
  position:absolute;
  left:43px;
  top:45px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1410 {
  position:absolute;
  left:22px;
  top:46px;
  width:11px;
  height:16px;
  color:#CCCCCC;
}
#u1411 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:41px;
}
#u1412 {
  position:absolute;
  left:287px;
  top:31px;
  width:98px;
  height:41px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1414 {
  position:absolute;
  left:10px;
  top:74px;
  width:375px;
  height:603px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1416 {
  position:absolute;
  left:1249px;
  top:3044px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u1417 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1420 {
  position:absolute;
  left:11px;
  top:75px;
  width:373px;
  height:44px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:20px;
  top:83px;
  width:315px;
  height:28px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1424 {
  position:absolute;
  left:33px;
  top:90px;
  width:14px;
  height:14px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u1426 {
  position:absolute;
  left:52px;
  top:89px;
  width:33px;
  height:21px;
  color:#BABABA;
}
#u1427 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u1428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1428 {
  position:absolute;
  left:310px;
  top:91px;
  width:13px;
  height:13px;
}
#u1429 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#57ADEC;
}
#u1430 {
  position:absolute;
  left:341px;
  top:87px;
  width:35px;
  height:22px;
  color:#57ADEC;
}
#u1431 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1432 {
  position:absolute;
  left:20px;
  top:129px;
  width:196px;
  height:15px;
  font-size:12px;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1434 {
  position:absolute;
  left:93px;
  top:201px;
  width:209px;
  height:16px;
  text-align:center;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
